#playground {
  background-color: rgb(170, 193, 223);
  position: absolute;
  top: 30vh;
  height: 40vh;
  left: 10vw;
}

#dinoImg {
  position: absolute;
  margin-top: 120px;
  margin-left: 10px;
}

#cactusImg {
  position: absolute;
  margin-top: 120px;
}